:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5625rem;
    background-color: var(--very-light-gray);
}

@media screen and (min-width: 90rem) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

article {
    max-width: 23.4375rem;
    margin: 0 auto;
    padding: .5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 90rem) {

    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 58rem;
        padding: 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.cards {
    width: 20.4375rem;
    padding: 3rem;
}

@media screen and (min-width: 90rem) {
    .cards {
        width: 19.1875rem;
        padding: 3rem 2.9688rem;
    }
}

.cards img {
    width: 4rem;
    margin-bottom: 2.1875rem;
}

.cards h2 {
    color: var(--very-light-gray);
    text-transform: uppercase;
    margin-bottom: 1.5625rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.cards p {
    color: var(--transparent-white);
    margin-bottom: 1.5625rem;
}

@media screen and (min-width: 90rem) {
    .cards p {
        margin-bottom: 5.1875rem;
    }
}

.cards a {
    text-decoration: none;
    background-color: var(--very-light-gray);
    border-radius: 1.5625rem;
    padding: .6875rem 1.9688rem;
}

.cards a:hover,
.cards a:focus {
    cursor: pointer;
    border: .125rem solid var(--transparent-white);
    background-color: transparent;
    color: var(--transparent-white);
    transition: 1s;
}

.sedans {
    background-color: var(--bright-orange);
    border-radius: 0.5rem 0.5rem 0 0;
}

@media screen and (min-width: 90rem) {
    .sedans {
        border-radius: 0.5rem 0 0 0.5rem;
    }
}

.sedans a {
    color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);
}

.suvs a {
    color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 0.5rem 0.5rem;
}

@media screen and (min-width: 90rem) {
    .luxury {
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

.luxury a {
    color: var(--very-dark-cyan);
}